n8n/Dadam Interior v8 (Claude Analysis) - updated.json
{
  "name": "Dadam Interior v8 (Claude Analysis)",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "dadam-interior-v4",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "099d2b78-2665-4ffc-a361-c530c3b043bf",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        18944,
        9360
      ],
      "webhookId": "c409630f-2f2c-4fcc-a00d-736eb9cfa9f6"
    },
    {
      "parameters": {
        "jsCode": "// ═══════════════════════════════════════════════════════════════\n  // Parse Input v2 - Material Code Detection\n  // ═══════════════════════════════════════════════════════════════\n\n  const body = $input.first().json.body || $input.first().json;\n\n  const category = body.category || 'sink';\n  const style = body.design_style || body.style || 'modern';\n  const roomImage = body.room_image || '';\n  const imageType = body.image_type || 'image/jpeg';\n\n  const triggerMap = {\n    sink: ['상부장', '하부장', '걸레받이', '도어규격', '몰딩', '배경보정', '벽면마감', '천장마감', '바닥마감'],\n    wardrobe: ['붙박이장', '좌대', '상몰딩', '짧은옷', '긴옷', '서랍', '스마트바', '배경보정', '벽면마감'],\n    fridge: ['냉장고장', '상부장', 'EL장', '홈카페', '배경보정', '벽면마감', '천장마감', '바닥마감']\n  };\n\n  function detectMaterialCodes(styleText) {\n    if (!styleText) return [];\n    const materialPatterns = [\n      /YPG-\\d+/gi, /YPA-\\d+/gi, /YPW-\\d+/gi, /SM-\\d+/gi, /SG-\\d+/gi,\n      /CP-\\d+/gi, /PW-\\d+/gi, /LC-\\d+/gi, /PL-\\d+/gi, /PM-\\d+/gi,\n      /PE-\\d+/gi, /AM-\\d+/gi, /LP-\\d+/gi, /HS\\d+/gi, /HC\\d+/gi,\n      /HP\\d+/gi, /HW\\d+/gi, /MFB-\\d+/gi, /LS-\\d+/gi,\n    ];\n    const detectedCodes = [];\n    for (const pattern of materialPatterns) {\n      const matches = styleText.match(pattern);\n      if (matches) detectedCodes.push(...matches.map(m => m.toUpperCase()));\n    }\n    return [...new Set(detectedCodes)];\n  }\n\n  function detectColorKeywords(styleText) {\n    if (!styleText) return [];\n    const colorPatterns = [\n      '화이트', '그레이', '블랙', '아이보리', '베이지', '브라운',\n      '오크', '월넛', '체리', '애쉬', '네이비', '블루', '그린', '핑크', '레드', '옐로우',\n      '무광', '유광', '펄', '매트', '글로시',\n      '마블', '스톤', '콘크리트', '우드', '가죽', '레더',\n      '비스포크', '뉴트로', '플레이', '북유럽', '모던', '미니멀',\n      'white', 'grey', 'gray', 'black', 'ivory', 'beige', 'brown',\n      'oak', 'walnut', 'matte', 'glossy', 'pearl',\n      'marble', 'stone', 'wood', 'bespoke', 'modern', 'minimal'\n    ];\n    const detected = [];\n    const lowerStyle = styleText.toLowerCase();\n    for (const keyword of colorPatterns) {\n      if (styleText.includes(keyword) || lowerStyle.includes(keyword.toLowerCase())) {\n        detected.push(keyword);\n      }\n    }\n    return [...new Set(detected)];\n  }\n\n  const materialCodes = detectMaterialCodes(style);\n  const colorKeywords = detectColorKeywords(style);\n  let triggers = [...(triggerMap[category] || triggerMap.sink)];\n  if (materialCodes.length > 0) triggers = [...triggers, ...materialCodes];\n  if (colorKeywords.length > 0) triggers = [...triggers, ...colorKeywords.slice(0, 5)];\n\n  // 클라이언트 프롬프트 (상세 옵션 기반)\n  const clientPrompt = body.prompt || '';\n  const negativePrompt = body.negative_prompt || '';\n  const cabinetSpecs = body.cabinet_specs || {};\n  const referenceImages = body.reference_images || {};\n  const materialDescriptions = body.material_descriptions || {};\n  const modules = body.modules || {};\n  const layoutImage = body.layout_image || '';\n  const layoutData = body.layout_data || {};\n  const manualPositions = body.manual_positions || null;\n  const hasManualPositions = body.has_manual_positions || false;\n\n  return {\n    category, style, roomImage, imageType, triggers,\n    materialCodes, colorKeywords,\n    hasMaterialRequest: materialCodes.length > 0 || colorKeywords.length > 0,\n    clientPrompt, negativePrompt, cabinetSpecs,\n    referenceImages, materialDescriptions, modules,\n    layoutImage, layoutData,\n    manualPositions, hasManualPositions\n  };"
      },
      "id": "d51b42b8-0ad9-4f87-875f-bfe4fc32d105",
      "name": "Parse Input",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        19136,
        9360
      ]
    },
    {
      "parameters": {
        "jsCode": "// ═══════════════════════════════════════════════════════════════\n// Build Claude Analysis Request\n// Claude API를 사용한 정밀 배관 분석\n// ═══════════════════════════════════════════════════════════════\nconst input = $input.first().json;\n\nconst analysisPrompt = `당신은 한국 주방 시공 현장의 배관 위치를 분석하는 전문가입니다.\n\n이 이미지를 분석하여 다음 설비의 위치를 정확하게 찾아주세요.\n\n[분석 대상]\n1. 급수 배관 (Water Supply Pipe)\n   - 특징: 빨간색/파란색 배관, 흰색 분배기 박스, PVC 배관\n   - 보통 위치: 벽면 하단, 바닥에서 200-400mm 높이\n\n2. 배기 덕트 (Exhaust Duct)\n   - 특징: 알루미늄 플렉시블 덕트 (은색), 원형 구멍, 환기구\n   - 보통 위치: 천장 근처, 상부 벽면\n\n3. 가스 배관 (Gas Pipe)\n   - 특징: 노란색 배관, 가스 밸브, 가스 콕\n   - 보통 위치: 벽면 하단, 바닥에서 300-500mm 높이\n\n4. 전기 콘센트 (Electrical Outlets)\n   - 특징: 흰색 플라스틱 박스, 콘센트 커버\n   - 보통 위치: 카운터 높이 (바닥에서 1000-1200mm)\n\n[위치 측정 방법]\n- 이미지의 가로를 0%~100%로 봅니다\n- 0% = 이미지 맨 왼쪽\n- 100% = 이미지 맨 오른쪽\n- 각 설비의 중심점이 몇 % 위치에 있는지 측정하세요\n\n[출력 형식 - 반드시 JSON만 출력]\n{\n  \"image_analysis\": {\n    \"wall_structure\": {\n      \"lower_tile\": \"타일 색상 및 높이\",\n      \"upper_wall\": \"상부 벽면 마감\",\n      \"estimated_width_mm\": 3000,\n      \"estimated_height_mm\": 2400\n    },\n    \"water_supply\": {\n      \"detected\": true,\n      \"position_percent\": 38,\n      \"position_description\": \"이미지 왼쪽에서 약 38% 지점\",\n      \"visual_features\": \"흰색 배관 박스, PVC 연결부\",\n      \"height_from_floor\": \"약 350mm\",\n      \"confidence\": \"high\"\n    },\n    \"exhaust_duct\": {\n      \"detected\": true,\n      \"position_percent\": 72,\n      \"position_description\": \"이미지 왼쪽에서 약 72% 지점\",\n      \"visual_features\": \"알루미늄 플렉시블 덕트, 은색\",\n      \"height_from_floor\": \"천장 근처\",\n      \"confidence\": \"high\"\n    },\n    \"gas_pipe\": {\n      \"detected\": false,\n      \"position_percent\": null,\n      \"visual_features\": null,\n      \"confidence\": \"low\"\n    },\n    \"electrical_outlets\": [\n      {\n        \"position_percent\": 45,\n        \"height\": \"카운터 높이\"\n      }\n    ],\n    \"construction_debris\": [\n      \"작업대\",\n      \"공구\",\n      \"시멘트 포대\"\n    ]\n  },\n  \"furniture_placement_recommendation\": {\n    \"sink_center_percent\": 38,\n    \"cooktop_center_percent\": 72,\n    \"layout_direction\": \"left_to_right\"\n  }\n}\n\n중요: JSON 형식만 출력하세요. 다른 설명은 불필요합니다.`;\n\nconst claudeRequestBody = {\n  model: 'claude-sonnet-4-20250514',\n  max_tokens: 2048,\n  messages: [\n    {\n      role: 'user',\n      content: [\n        {\n          type: 'image',\n          source: {\n            type: 'base64',\n            media_type: input.imageType || 'image/jpeg',\n            data: input.roomImage\n          }\n        },\n        {\n          type: 'text',\n          text: analysisPrompt\n        }\n      ]\n    }\n  ]\n};\n\nreturn {\n  claudeRequestBody: JSON.stringify(claudeRequestBody),\n  category: input.category,\n  style: input.style,\n  roomImage: input.roomImage,\n  imageType: input.imageType,\n  manualPositions: input.manualPositions,\n  hasManualPositions: input.hasManualPositions,\n  clientPrompt: input.clientPrompt || '',\n  negativePrompt: input.negativePrompt || '',\n  cabinetSpecs: input.cabinetSpecs || {},\n  referenceImages: input.referenceImages || {},\n  materialDescriptions: input.materialDescriptions || {},\n  modules: input.modules || {},\n  layoutImage: input.layoutImage || '',\n  layoutData: input.layoutData || {}\n};"
      },
      "id": "c9397227-5182-45e6-8849-46768dacf112",
      "name": "Build Claude Request",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        19328,
        9360
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.anthropic.com/v1/messages",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "x-api-key",
              "value": "={{$env.ANTHROPIC_API_KEY}}"
            },
            {
              "name": "anthropic-version",
              "value": "2023-06-01"
            },
            {
              "name": "content-type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "contentType": "raw",
        "rawContentType": "application/json",
        "body": "={{ $json.claudeRequestBody }}",
        "options": {
          "timeout": 120000
        }
      },
      "id": "25b0ee8c-a3d7-4a5f-8474-47b0f84870af",
      "name": "Claude Pipe Analysis",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        19520,
        9360
      ]
    },
    {
      "parameters": {
        "jsCode": "// ═══════════════════════════════════════════════════════════════\n// Parse Claude Analysis Result v2 - Manual Position 우선 적용\n// ═══════════════════════════════════════════════════════════════\nconst input = $('Build Claude Request').first().json;\nconst response = $input.first().json;\n\n// 수동 위치가 있는지 확인\nconst manualPos = input.manualPositions;\nconst hasManual = input.hasManualPositions;\n\nlet analysisResult = {\n  water_supply_percent: 30,\n  exhaust_duct_percent: 70,\n  gas_pipe_percent: null,\n  confidence: 'low',\n  wall_width_mm: 3000,\n  wall_height_mm: 2400,\n  source: 'default'\n};\n\n// 1. 먼저 Claude 분석 결과 파싱 시도\ntry {\n  const content = response.content || [];\n  for (const block of content) {\n    if (block.type === 'text' && block.text) {\n      const jsonMatch = block.text.match(/\\{[\\s\\S]*\\}/);\n      if (jsonMatch) {\n        const parsed = JSON.parse(jsonMatch[0]);\n\n        analysisResult = {\n          water_supply_percent: parsed.image_analysis?.water_supply?.position_percent || parsed.furniture_placement_recommendation?.sink_center_percent || 30,\n          water_supply_features: parsed.image_analysis?.water_supply?.visual_features || '',\n          water_supply_confidence: parsed.image_analysis?.water_supply?.confidence || 'low',\n\n          exhaust_duct_percent: parsed.image_analysis?.exhaust_duct?.position_percent || parsed.furniture_placement_recommendation?.cooktop_center_percent || 70,\n          exhaust_duct_features: parsed.image_analysis?.exhaust_duct?.visual_features || '',\n          exhaust_duct_confidence: parsed.image_analysis?.exhaust_duct?.confidence || 'low',\n\n          gas_pipe_percent: parsed.image_analysis?.gas_pipe?.detected ? parsed.image_analysis.gas_pipe.position_percent : null,\n\n          wall_width_mm: parsed.image_analysis?.wall_structure?.estimated_width_mm || 3000,\n          wall_height_mm: parsed.image_analysis?.wall_structure?.estimated_height_mm || 2400,\n\n          construction_debris: parsed.image_analysis?.construction_debris || [],\n\n          confidence: (parsed.image_analysis?.water_supply?.confidence === 'high' && parsed.image_analysis?.exhaust_duct?.confidence === 'high') ? 'high' : 'medium',\n          source: 'claude'\n        };\n      }\n    }\n  }\n} catch (e) {\n  console.log('Parse error:', e.message);\n}\n\n// 2. 수동 위치가 있으면 덮어쓰기 (최우선 적용!)\nif (hasManual) {\n  if (manualPos.water_pipe) {\n    analysisResult.water_supply_percent = manualPos.water_pipe.x;\n    analysisResult.water_supply_features = '사용자 직접 표시';\n    analysisResult.water_supply_confidence = 'manual';\n  }\n  if (manualPos.exhaust_duct) {\n    analysisResult.exhaust_duct_percent = manualPos.exhaust_duct.x;\n    analysisResult.exhaust_duct_features = '사용자 직접 표시';\n    analysisResult.exhaust_duct_confidence = 'manual';\n  }\n  analysisResult.source = 'manual';\n  analysisResult.confidence = 'high'; // 사용자 표시는 항상 신뢰도 high\n}\n\nreturn [{\n  category: input.category,\n  style: input.style,\n  roomImage: input.roomImage,\n  imageType: input.imageType,\n  analysisResult,\n  analysisMethod: hasManual ? 'manual' : 'claude',\n  clientPrompt: input.clientPrompt || '',\n  negativePrompt: input.negativePrompt || '',\n  cabinetSpecs: input.cabinetSpecs || {},\n  referenceImages: input.referenceImages || {},\n  materialDescriptions: input.materialDescriptions || {},\n  modules: input.modules || {},\n  layoutImage: input.layoutImage || '',\n  layoutData: input.layoutData || {}\n}];"
      },
      "id": "864f6f17-fdbe-4822-a499-2117fc71218f",
      "name": "Parse Claude Result",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        19712,
        9360
      ]
    },
    {
      "parameters": {
        "jsCode": "// ═══════════════════════════════════════════════════════════════\n// Build Background Cleanup Prompt v2\n// 전선 제거 + 미마감 부분 보정 추가\n// ═══════════════════════════════════════════════════════════════\nconst input = $input.first().json;\nconst analysis = input.analysisResult;\n\nconst debrisList = analysis.construction_debris?.length > 0\n  ? analysis.construction_debris.join(', ')\n  : '공사 잔해, 공구, 임시 물건';\n\nconst cleanupPrompt = `[TASK: BACKGROUND CLEANUP - STRUCTURE PRESERVATION]\n\n★★★ ABSOLUTE RULES ★★★\n\n[MUST PRESERVE - 절대 변경 금지]\n1. 벽면 위치와 각도\n2. 바닥 위치와 레벨\n3. 천장 높이와 위치\n4. 창문/문 위치와 크기\n5. 카메라 앵글과 시점\n6. 조명 방향\n\n[MUST REMOVE - 제거 대상]\n${debrisList}\n- 사람\n- 옷걸이와 옷\n- 임시 작업대\n- 공구와 장비\n- 시멘트 포대\n- 모든 공사 잔해\n\n★★★ 전선 제거 - WIRE REMOVAL ★★★\n- 노출된 전선 모두 제거\n- 벽면에 드러난 배선 제거\n- 천장의 노출 전선 제거\n- 전선이 있던 자리는 주변 벽면/천장과 동일하게 보정\n\n★★★ 미마감 부분 보정 - UNFINISHED AREA REPAIR ★★★\n- 마감되지 않은 벽면: 주변의 비슷한 소재/색상으로 자연스럽게 보정\n- 마감되지 않은 천장: 주변 천장과 동일한 색상(흰색)으로 보정\n- 석고보드 노출 부분: 주변 마감재와 동일하게 처리\n- 시멘트/콘크리트 노출: 주변 타일이나 페인트로 자연스럽게 연결\n- 타일이 빠진 부분: 주변 타일 패턴과 동일하게 채우기\n\n★★★ 배기덕트 주변 마감 - EXHAUST DUCT AREA FINISHING ★★★\n- 덕트 주변 벽면: 매끄럽게 페인트 처리 (흰색 또는 주변 벽 색상)\n- 덕트 주변 얼룩/먼지: 완전히 제거\n\n[MUST IMPROVE - 마감 처리]\n1. 벽면 하단: 기존 타일 패턴 유지하며 깨끗하게\n2. 벽면 상단: 주변과 동일한 색상으로 매끄럽게\n3. 바닥: 깨끗한 타일 또는 마감재\n4. 천장: 깨끗한 흰색, 조명 유지\n\n[KEEP VISIBLE - 유지할 설비 (깔끔하게 마감된 상태로)]\n- 급수 배관 위치: ${analysis.water_supply_percent}% 지점\n  → 깔끔한 벽면에 배관 연결부만 표시 (캡 씌운 상태)\n- 배기 덕트 위치: ${analysis.exhaust_duct_percent}% 지점\n  → 덕트 주변 벽면/천장은 매끄럽게 마감\n${analysis.gas_pipe_percent ? '- 가스 배관 위치: ' + analysis.gas_pipe_percent + '% 지점 (깔끔한 가스 밸브만 표시)' : ''}\n\n[OUTPUT]\n- 깨끗하게 마감된 빈 공간\n- 전선 없음\n- 미마감 부분 없음\n- 가구 설치 준비 완료 상태`;\n\nconst geminiCleanupBody = {\n  contents: [{\n    parts: [\n      { text: cleanupPrompt },\n      { inline_data: { mime_type: input.imageType || 'image/jpeg', data: input.roomImage }}\n    ]\n  }],\n  generationConfig: { responseModalities: ['image', 'text'], temperature: 0.3 }\n};\n\nreturn {\n  geminiCleanupBody: JSON.stringify(geminiCleanupBody),\n  category: input.category,\n  style: input.style,\n  roomImage: input.roomImage,\n  imageType: input.imageType,\n  analysisResult: analysis,\n  clientPrompt: input.clientPrompt || '',\n  negativePrompt: input.negativePrompt || '',\n  cabinetSpecs: input.cabinetSpecs || {},\n  referenceImages: input.referenceImages || {},\n  materialDescriptions: input.materialDescriptions || {},\n  modules: input.modules || {},\n  layoutImage: input.layoutImage || '',\n  layoutData: input.layoutData || {}\n};"
      },
      "id": "8e547387-a72c-43e0-9d59-c9c0169a92cd",
      "name": "Build Cleanup Prompt",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        19904,
        9360
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://generativelanguage.googleapis.com/v1beta/models/gemini-3-pro-image-preview:generateContent?key={{$env.GEMINI_API_KEY}}",
        "sendBody": true,
        "contentType": "raw",
        "rawContentType": "application/json",
        "body": "={{ $json.geminiCleanupBody }}",
        "options": {
          "timeout": 120000
        }
      },
      "id": "ef110b01-1af9-4d44-8645-4d71bec9c203",
      "name": "Gemini Background Cleanup",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        20096,
        9360
      ]
    },
    {
      "parameters": {
        "jsCode": "// ═══════════════════════════════════════════════════════════════\n// Parse Background + Build Furniture (수치 기반 레이아웃 블루프린트 방식)\n// 레이아웃 결정: 프론트엔드 Canvas (100% 코드 계산)\n// Gemini 역할: 포토리얼리스틱 텍스처/조명 보정만 담당\n// ═══════════════════════════════════════════════════════════════\nconst input = $('Build Cleanup Prompt').first().json;\nconst response = $input.first().json;\nconst analysis = input.analysisResult;\n\n// Client design data\nconst clientPrompt = input.clientPrompt || '';\nconst negativePrompt = input.negativePrompt || '';\nconst cabinetSpecs = input.cabinetSpecs || {};\nconst referenceImages = input.referenceImages || {};\nconst materialDescriptions = input.materialDescriptions || {};\nconst modules = input.modules || {};\nconst layoutImage = input.layoutImage || '';\nconst layoutData = input.layoutData || {};\n\n// ─── Parse cleaned background from Gemini Stage 1 ───\nlet cleanedBackground = null;\ntry {\n  const candidates = response.candidates || [];\n  if (candidates.length > 0) {\n    const parts = candidates[0].content?.parts || [];\n    for (const part of parts) {\n      if (part.inlineData || part.inline_data) {\n        cleanedBackground = (part.inlineData || part.inline_data).data;\n      }\n    }\n  }\n} catch (e) { console.log('Parse error:', e.message); }\n\n// ─── Build material description lines ───\nlet materialLines = [];\nconst md = materialDescriptions || {};\nif (md.upper_door_color) materialLines.push('Upper cabinet doors: ' + md.upper_door_color + (md.upper_door_finish ? ', ' + md.upper_door_finish : ''));\nif (md.lower_door_color) materialLines.push('Lower cabinet doors: ' + md.lower_door_color + (md.lower_door_finish ? ', ' + md.lower_door_finish : ''));\nif (md.countertop) materialLines.push('Countertop: ' + md.countertop);\nif (md.handle) materialLines.push('Handles: ' + md.handle);\nif (md.hood) materialLines.push('Range hood: ' + md.hood);\nif (md.cooktop) materialLines.push('Cooktop: ' + md.cooktop);\nif (md.sink) materialLines.push('Sink: ' + md.sink);\nif (md.faucet) materialLines.push('Faucet: ' + md.faucet);\n\n// Fallback if no materialDescriptions\nif (materialLines.length === 0 && cabinetSpecs) {\n  const colorMap = {\n    '화이트': 'pure white', '그레이': 'gray', '블랙': 'matte black',\n    '오크': 'natural oak wood', '월넛': 'dark walnut wood',\n    '스노우': 'snow white', '마블화이트': 'white marble',\n    '그레이마블': 'gray marble', '차콜': 'charcoal',\n    '베이지': 'beige', '네이비': 'navy blue'\n  };\n  const finishMap = { '무광': 'matte', '유광': 'glossy', '엠보': 'embossed' };\n  const t = (m, k) => m[k] || k || '';\n  if (cabinetSpecs.door_color_upper) materialLines.push('Upper doors: ' + t(colorMap, cabinetSpecs.door_color_upper) + ' ' + t(finishMap, cabinetSpecs.door_finish_upper));\n  if (cabinetSpecs.door_color_lower) materialLines.push('Lower doors: ' + t(colorMap, cabinetSpecs.door_color_lower) + ' ' + t(finishMap, cabinetSpecs.door_finish_lower));\n  if (cabinetSpecs.countertop_color) materialLines.push('Countertop: ' + t(colorMap, cabinetSpecs.countertop_color));\n}\n\nconst waterPercent = analysis.water_supply_percent;\nconst exhaustPercent = analysis.exhaust_duct_percent;\n\n// ─── Build numeric module data text supplement ───\nlet moduleDataText = '';\nif (layoutData && layoutData.totalW_mm) {\n  const lines = [];\n  lines.push('Total wall: ' + layoutData.totalW_mm + 'mm W x ' + layoutData.totalH_mm + 'mm H');\n  if (layoutData.upper?.modules?.length) {\n    lines.push('Upper cabinets (' + layoutData.upper.modules.length + ' modules):');\n    layoutData.upper.modules.forEach((m, i) => {\n      const wMM = Math.round(m.w * layoutData.totalW_mm);\n      lines.push('  U' + (i+1) + ': ' + wMM + 'mm wide, ' + m.doorCount + (m.type === 'drawer' ? ' drawer(s)' : ' door(s)') + (m.name ? ' [' + m.name + ']' : ''));\n    });\n  }\n  if (layoutData.lower?.modules?.length) {\n    lines.push('Lower cabinets (' + layoutData.lower.modules.length + ' modules):');\n    layoutData.lower.modules.forEach((m, i) => {\n      const wMM = Math.round(m.w * layoutData.totalW_mm);\n      let suffix = '';\n      if (m.hasSink) suffix += ' (SINK)';\n      if (m.hasCooktop) suffix += ' (COOKTOP)';\n      lines.push('  L' + (i+1) + ': ' + wMM + 'mm wide, ' + m.doorCount + (m.type === 'drawer' ? ' drawer(s)' : ' door(s)') + suffix + (m.name ? ' [' + m.name + ']' : ''));\n    });\n  }\n  moduleDataText = lines.join('\\n');\n}\n\n// ═══════════════════════════════════════════════════════════════\n// ─── LAYOUT BLUEPRINT MODE (수치 기반 레이아웃) ───\n// ═══════════════════════════════════════════════════════════════\n\nlet furniturePrompt;\n\nif (layoutImage) {\n  // ★ 블루프린트 모드: Canvas에서 생성된 정확한 레이아웃을 참조하여 포토리얼리스틱 렌더링\n  furniturePrompt = `[TASK: PHOTOREALISTIC RENDERING FROM LAYOUT BLUEPRINT]\n\nYou are given 3 images:\n1. CLEANED ROOM BACKGROUND - the empty room (first image)\n2. LAYOUT BLUEPRINT - precise cabinet layout with exact positions, proportions, and colors (second image)\n3. REFERENCE MATERIALS - texture/color samples (optional, following images)\n\n★★★ CRITICAL INSTRUCTIONS ★★★\n\nYour job is to render photorealistic built-in kitchen furniture that EXACTLY matches the LAYOUT BLUEPRINT.\n\n[WHAT THE BLUEPRINT SHOWS - FOLLOW EXACTLY]\n- Each colored rectangle = one cabinet module at its exact position and size\n- The PROPORTIONS between modules are mathematically computed from real mm measurements\n- Horizontal lines inside a module = drawers\n- Vertical lines inside a module = door divisions\n- Dark strip at bottom = toe kick\n- Thin strip between upper and lower = countertop\n- Stainless steel rectangle on countertop = sink bowl position\n- Black rectangle on countertop = cooktop position\n- Dark gray strip at top = crown molding\n\n[RENDERING RULES]\n1. PRESERVE the cleaned background EXACTLY - do NOT modify walls, floor, or ceiling\n2. Place furniture ONLY where the blueprint shows colored rectangles\n3. Match the EXACT proportions and positions from the blueprint\n4. Each module's WIDTH RATIO must match the blueprint precisely\n5. Upper cabinets must be flush with ceiling (as shown in blueprint)\n\n[MATERIALS & TEXTURES TO APPLY]\n${materialLines.join('\\n')}\n\n[PLUMBING REFERENCE POINTS]\n- Sink area aligned with water supply at ${waterPercent}% from left\n- Cooktop area aligned with exhaust duct at ${exhaustPercent}% from left\n\n${moduleDataText ? '[EXACT MODULE DIMENSIONS - numeric supplement to blueprint]\\n' + moduleDataText : ''}\n\n[PHOTOREALISTIC QUALITY]\n- Add realistic shadows, reflections, and ambient lighting\n- Apply proper material textures (wood grain, stone pattern, stainless steel)\n- Show realistic edge profiles and panel gaps\n- Natural lighting from windows/ceiling as visible in the background\n- Subtle shadow under upper cabinets onto backsplash\n\n[PROHIBITED]\n❌ Do NOT change positions or proportions from the blueprint\n❌ Do NOT modify the background/wall/floor\n❌ No text, labels, or dimension markings\n❌ NO exposed hood duct or ventilation pipe\n❌ NO visible exhaust pipe or silver/metallic duct tube`;\n\n} else {\n  // ★ 폴백: 블루프린트 없이 기존 텍스트 기반 프롬프트 (하위 호환)\n  furniturePrompt = `[TASK: FURNITURE PLACEMENT - CLAUDE ANALYZED POSITIONS]\n\n★★★ PRESERVE BACKGROUND ★★★\nThis image is a cleaned background. Do NOT modify the background. Only add furniture.\n\n[Placement Reference Points]\n- Sink at ${waterPercent}% from left (water supply position)\n- Cooktop at ${exhaustPercent}% from left (exhaust duct position)\n- Upper cabinet flush with ceiling\n\n[Materials]\n${materialLines.length > 0 ? materialLines.join('\\n') : 'Modern minimal white matte finish'}\n\n${moduleDataText ? '[MODULE DIMENSIONS]\\n' + moduleDataText : ''}\n\n[PROHIBITED]\n❌ Do NOT modify background\n❌ NO exposed duct or pipe\n❌ No text/labels`;\n}\n\n// Add client prompt\nif (clientPrompt) {\n  furniturePrompt += '\\n\\n[ADDITIONAL REQUIREMENTS]\\n' + clientPrompt;\n}\n\n// Add negative prompt\nif (negativePrompt) {\n  furniturePrompt += '\\n\\n[MUST AVOID]\\n' + negativePrompt;\n}\n\n// ─── Build Gemini parts[] ───\nconst geminiParts = [];\n\n// 1. Text prompt (항상 첫 번째)\ngeminiParts.push({ text: furniturePrompt });\n\n// 2. Cleaned background image (첫 번째 이미지)\ngeminiParts.push({ inline_data: { mime_type: 'image/png', data: cleanedBackground } });\n\n// 3. Layout blueprint image (두 번째 이미지 - 수치 기반 레이아웃)\nif (layoutImage) {\n  geminiParts.push({ text: '[LAYOUT BLUEPRINT - Follow this exact layout. Every rectangle position and proportion is computed from precise mm measurements.]' });\n  geminiParts.push({ inline_data: { mime_type: 'image/png', data: layoutImage } });\n}\n\n// 4. Reference material images (최대 3개, 우선순위)\nconst fetchPriority = ['doorColorUpper', 'topColor', 'handle'];\nconst fetchedRefImages = [];\nfor (const key of fetchPriority) {\n  if (referenceImages[key]?.url && fetchedRefImages.length < 3) {\n    try {\n      const resp = await fetch(referenceImages[key].url);\n      if (resp.ok) {\n        const buf = await resp.arrayBuffer();\n        const b64 = Buffer.from(buf).toString('base64');\n        fetchedRefImages.push({ key, base64: b64, description: referenceImages[key].prompt_description });\n      }\n    } catch (e) { /* skip */ }\n  }\n}\n\nfor (const img of fetchedRefImages) {\n  geminiParts.push({ text: '[REFERENCE MATERIAL: ' + img.description + ' - Match this color/texture]' });\n  geminiParts.push({ inline_data: { mime_type: 'image/jpeg', data: img.base64 } });\n}\n\nconst geminiFurnitureBody = {\n  contents: [{ parts: geminiParts }],\n  generationConfig: { responseModalities: ['image', 'text'], temperature: 0.3 }\n};\n\nreturn [{\n  cleanedBackground,\n  hasCleanedBackground: !!cleanedBackground,\n  geminiFurnitureBody: JSON.stringify(geminiFurnitureBody),\n  category: input.category,\n  style: input.style,\n  analysisResult: analysis,\n  hasLayoutBlueprint: !!layoutImage,\n  referenceImageCount: fetchedRefImages.length\n}];"
      },
      "id": "e15fe4e3-2177-4f4d-b42a-05191a8fafd4",
      "name": "Parse BG + Build Furniture",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        20288,
        9360
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "has-bg",
              "leftValue": "={{ $json.hasCleanedBackground }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "f5383ac9-ffdb-43d5-9963-33ee4a430ba0",
      "name": "Has Cleaned BG?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        20480,
        9360
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://generativelanguage.googleapis.com/v1beta/models/gemini-3-pro-image-preview:generateContent?key={{$env.GEMINI_API_KEY}}",
        "sendBody": true,
        "contentType": "raw",
        "rawContentType": "application/json",
        "body": "={{ $json.geminiFurnitureBody }}",
        "options": {
          "timeout": 120000
        }
      },
      "id": "5fa83dd4-dbec-4800-81db-cc5952bcdd00",
      "name": "Gemini Furniture",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        20672,
        9248
      ]
    },
    {
      "parameters": {
        "jsCode": "// Parse Furniture + Prep Open\nconst input = $('Parse BG + Build Furniture').first().json;\nconst response = $input.first().json;\nconst analysis = input.analysisResult;\n\nlet closedImage = null;\ntry {\n  const candidates = response.candidates || [];\n  if (candidates.length > 0) {\n    const parts = candidates[0].content?.parts || [];\n    for (const part of parts) {\n      if (part.inlineData || part.inline_data) {\n        closedImage = (part.inlineData || part.inline_data).data;\n      }\n    }\n  }\n} catch (e) { console.log('Parse error:', e.message); }\n\nconst openPrompt = `[TASK: OPEN DOORS AND DRAWERS]\n\n★★★ 배경과 가구 위치 유지 ★★★\n\n[변경 금지]\n- 배경 (벽, 바닥, 천장)\n- 가구 위치, 크기, 색상\n- 카메라 앵글\n- 조명\n\n[변경 사항]\n- 여닫이 도어: 90도 바깥으로 열기\n- 서랍: 30-40% 당기기\n- 내부 수납품 보이게\n\n[내부 수납품]\n- 그릇, 접시, 컵\n- 냄비, 프라이팬\n- 양념통, 조미료\n\n[출력]\n- 동일한 가구, 도어만 열린 상태\n- 포토리얼리스틱 품질`;\n\nconst geminiOpenBody = {\n  contents: [{\n    parts: [\n      { inline_data: { mime_type: 'image/png', data: closedImage }},\n      { text: openPrompt }\n    ]\n  }],\n  generationConfig: { responseModalities: ['image', 'text'], temperature: 0.3 }\n};\n\nreturn [{\n  cleanedBackground: input.cleanedBackground,\n  closedImage,\n  hasClosedImage: !!closedImage,\n  geminiOpenBody: JSON.stringify(geminiOpenBody),\n  category: input.category,\n  style: input.style,\n  analysisResult: analysis\n}];"
      },
      "id": "bbec31cd-d4de-421c-a3bf-d95c36257d65",
      "name": "Parse Furniture + Prep Open",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        20864,
        9248
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "has-closed",
              "leftValue": "={{ $json.hasClosedImage }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "ad9d9036-7724-4875-8d09-5edcf0cd9e40",
      "name": "Has Closed Image?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        21056,
        9248
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://generativelanguage.googleapis.com/v1beta/models/gemini-3-pro-image-preview:generateContent?key={{$env.GEMINI_API_KEY}}",
        "sendBody": true,
        "contentType": "raw",
        "rawContentType": "application/json",
        "body": "={{ $json.geminiOpenBody }}",
        "options": {
          "timeout": 120000
        }
      },
      "id": "4d057b78-c4f3-4754-94c4-7f7c44757334",
      "name": "Gemini Open Door",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        21248,
        9136
      ]
    },
    {
      "parameters": {
        "jsCode": "const input = $('Parse Furniture + Prep Open').first().json;\nconst openResponse = $input.first().json;\nconst analysis = input.analysisResult;\n\nlet openImage = null;\ntry {\n  const candidates = openResponse.candidates || [];\n  if (candidates.length > 0) {\n    const parts = candidates[0].content?.parts || [];\n    for (const part of parts) {\n      if (part.inline_data?.data) { openImage = part.inline_data.data; break; }\n      if (part.inlineData?.data) { openImage = part.inlineData.data; break; }\n    }\n  }\n} catch (e) { console.log('Parse error:', e.message); }\n\nreturn [{\n  success: true,\n  message: 'Claude 분석 + 2단계 이미지 생성 완료',\n  processing: 'claude-analysis + 2-stage-generation',\n  category: input.category,\n  style: input.style,\n  pipe_analysis: {\n    method: 'claude',\n    water_supply_percent: analysis.water_supply_percent,\n    exhaust_duct_percent: analysis.exhaust_duct_percent,\n    confidence: analysis.confidence\n  },\n  generated_image: {\n    background: { base64: input.cleanedBackground, mime_type: 'image/png', description: 'Stage 1: Cleaned background' },\n    closed: { base64: input.closedImage, mime_type: 'image/png', description: 'Stage 2: Furniture added (closed)' },\n    open: { base64: openImage, mime_type: 'image/png', description: 'Stage 3: Doors open' }\n  }\n}];"
      },
      "id": "c5e5e3dd-d58f-4f54-9af9-a98df1f66017",
      "name": "Format Response (All)",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        21440,
        9136
      ]
    },
    {
      "parameters": {
        "jsCode": "const input = $('Parse Furniture + Prep Open').first().json;\nconst analysis = input.analysisResult;\n\nreturn [{\n  success: true,\n  message: 'Claude 분석 + 이미지 생성 완료 (닫힌 도어만)',\n  processing: 'claude-analysis + 2-stage-generation',\n  category: input.category,\n  style: input.style,\n  pipe_analysis: {\n    method: 'claude',\n    water_supply_percent: analysis.water_supply_percent,\n    exhaust_duct_percent: analysis.exhaust_duct_percent,\n    confidence: analysis.confidence\n  },\n  generated_image: {\n    background: { base64: input.cleanedBackground, mime_type: 'image/png', description: 'Stage 1: Cleaned background' },\n    closed: { base64: input.closedImage, mime_type: 'image/png', description: 'Stage 2: Furniture added (closed)' },\n    open: null\n  }\n}];"
      },
      "id": "612a15d9-2653-4b4b-87bc-7925b439f81d",
      "name": "Format Response (Closed)",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        21248,
        9360
      ]
    },
    {
      "parameters": {
        "jsCode": "const input = $('Build Cleanup Prompt').first().json;\nreturn [{\n  success: false,\n  message: '배경 정리 실패',\n  error: 'Background cleanup failed',\n  category: input.category\n}];"
      },
      "id": "8849c870-c698-4ccc-b858-42b9f6866d64",
      "name": "Format Response (Error)",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        20672,
        9472
      ]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ $json }}",
        "options": {}
      },
      "id": "2207fe01-7ee9-46f1-8681-0040ec8c9bce",
      "name": "Respond (All)",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        21632,
        9136
      ]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ $json }}",
        "options": {}
      },
      "id": "5e9a267a-b79f-4442-995a-48b8ab89b23b",
      "name": "Respond (Closed)",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        21440,
        9360
      ]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ $json }}",
        "options": {}
      },
      "id": "a3aeef74-eb09-4584-baac-6ebc6647c8a2",
      "name": "Respond (Error)",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        20864,
        9472
      ]
    }
  ],
  "pinData": {},
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Parse Input",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse Input": {
      "main": [
        [
          {
            "node": "Build Claude Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build Claude Request": {
      "main": [
        [
          {
            "node": "Claude Pipe Analysis",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Claude Pipe Analysis": {
      "main": [
        [
          {
            "node": "Parse Claude Result",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse Claude Result": {
      "main": [
        [
          {
            "node": "Build Cleanup Prompt",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build Cleanup Prompt": {
      "main": [
        [
          {
            "node": "Gemini Background Cleanup",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Gemini Background Cleanup": {
      "main": [
        [
          {
            "node": "Parse BG + Build Furniture",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse BG + Build Furniture": {
      "main": [
        [
          {
            "node": "Has Cleaned BG?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Has Cleaned BG?": {
      "main": [
        [
          {
            "node": "Gemini Furniture",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Format Response (Error)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Gemini Furniture": {
      "main": [
        [
          {
            "node": "Parse Furniture + Prep Open",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse Furniture + Prep Open": {
      "main": [
        [
          {
            "node": "Has Closed Image?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Has Closed Image?": {
      "main": [
        [
          {
            "node": "Gemini Open Door",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Format Response (Closed)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Gemini Open Door": {
      "main": [
        [
          {
            "node": "Format Response (All)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Format Response (All)": {
      "main": [
        [
          {
            "node": "Respond (All)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Format Response (Closed)": {
      "main": [
        [
          {
            "node": "Respond (Closed)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Format Response (Error)": {
      "main": [
        [
          {
            "node": "Respond (Error)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "availableInMCP": false
  },
  "versionId": "495ad7fb-ed25-4f01-b47a-1c01e1fe46d8",
  "meta": {
    "instanceId": "244e14704bf7bd5d7ea20567a9c92fb83222642504dc698a01d22d41bd5f300d"
  },
  "id": "4Nw23tbPb3Gg18gV",
  "tags": []
}